.venv
data
screenshots
secrets1
vitadrom
jena_climate_2009_2016.csv
testarea3.png
*.pyc
testarea*
__pycache__/*
secrets1/__pycache__
temp*.png
./secrets1
./secrets1/*
.DS_Store
gsss
fish
datasets
dataset_copy
dataset_copy2
folder1
venv
model*
model.keras
# *.keras



